/* Definições gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Definições para o body */
body {
    background-color: cornflowerblue;
    height: 100vh;
    align-content: center;
    justify-items: center;
    padding: 1em;
}

/* Definições para o h2 */
h2 {
    margin-bottom: 1em;
}

/* Definições para a div de classe 'input-area' */
.input-area {
    background-color: #aac5f7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    border-radius: 10px;
    gap: 1em;
    width: 300px;
}

/* Definições para o botão que está dentro da div de classe 'input-area' */
.input-area button {
    border: 0;
    background-color: cornflowerblue;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #111;
    border-radius: 20px;
    cursor: pointer;
}

/* Definições para os inputs que estão dentro da div de classe 'input-area' */
.input-area input {
    padding: 10px;
    border-radius: inherit;
    border: 1px solid #aaa;
}

/* Definições para o parágrafo que está dentro da div de classe 'input-area' */
.input-area p {
    text-align: center;
}
