/* Definições gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Definições para o body */
body {
    height: 100vh;
    padding: 1em;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Definições para o main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* Definições para o h1 */
h1 {
    color: #fff;
}

/* Definições para a div 'calculadora' */
.calculadora {
    background-color: #d4ccc8;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Definições para os inputs */
input {
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 10px;
}

/* Definições para a área que contém os botões */
.btn-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Definições para os botões */
button {
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

/* Definições para o parágrafo que exibe a resposta */
p {
    color: #fff;
    font-size: 1.1rem;
}