* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(45, 53, 77);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
    color: rgb(45, 53, 77);
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
}